/* styles.css */

.container {
    display: flex;
    height: 94vh;
  }
  
  .left-panel {
    margin-right: 20px;
    height: 100%;
    background-color: lightgreen; /* Set background color */
    padding: 20px; /* Add padding */
  }
  
  .left-panel ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left-panel ul li {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .left-panel ul li a {
    text-decoration: none;
    color: black;
  }
  